# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Sqllite
sqlite/.libs/
sqlite/Makefile
sqlite/config.h
sqlite/config.log
sqlite/config.status
sqlite/fts5.c
sqlite/fts5.h
sqlite/fts5parse.c
sqlite/fts5parse.h
sqlite/fts5parse.y
sqlite/keywordhash.h
sqlite/lemon
sqlite/lempar.c
sqlite/libtool
sqlite/mkkeywordhash
sqlite/opcodes.c
sqlite/opcodes.h
sqlite/parse.c
sqlite/parse.h
sqlite/parse.h.temp
sqlite/parse.y
sqlite/sqlite3.h
sqlite/sqlite3.pc

# Hidden files and directories
.*
