[Unit]
Description=Niuchacz service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/niuchacz \
    --device enp0s31f6 \
    --db_file /root/live.db \
	--conf_file /etc/niuchacz/niuchacz.conf \
	--log_file /var/log/niuchacz.log \
	--pid_file /run/niuchacz.pid
User=root
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target